<h1>参会代表签到</h1>
<fieldset class="form-generic">
  <legend>基本信息</legend>
  <ul>
    <li><label>中文名：</label><%= @conventioner.chinese_name %></li>
  </ul>
  <ul>
    <li><label>外文名：</label><%= @conventioner.foreign_name %></li>
  </ul>
  <ul>
    <li><label>国籍：</label><%= @conventioner.country.name %></li>
  </ul>
  <ul>
    <li><label>所属孔院：</label><%= @conventioner.confucius_institute %></li>
  </ul>
  <ul>
    <li><label>工作单位：</label><%= @conventioner.work_unit %></li>
  </ul>
  <ul>
    <li><label>所在机构任职：</label><%= @conventioner.position_in_wn %></li>
  </ul>
  <ul>
    <li><label>孔院任职：</label><%= @conventioner.position_in_ci %></li>
  </ul>
  <ul>
    <li><label>电子邮件：</label><%= @conventioner.email %></li>
  </ul>
  <ul>
    <li><label>联系电话：</label><%= @conventioner.phone %></li>
  </ul>
  <ul>
    <li><label>代表类型1：</label><%= human_from_for @conventioner.from %></li>
  </ul>
  <ul>
    <li><label>代表类型2：</label><%= human_nonvoting_for @conventioner.nonvoting? %></li>
  </ul>
  <ul>
    <li><label>代表身份：</label><%= @conventioner.titles.map{|t| t.name}.join '，' %></li>
  </ul>
  <ul>
    <li><label>抵京时间：</label><%= human_date_for @conventioner.arrived_at %></li>
  </ul>
  <ul>
    <li><label>航班号：</label><%= @conventioner.flight_number %></li>
  </ul>
  <ul>
    <li><label>离京时间：</label><%= human_date_for @conventioner.returned_at %></li>
  </ul>
  <ul>
    <li><label>航班号：</label><%= @conventioner.return_flight_number %></li>
  </ul>
  <ul>
    <li class="seat"><label>开幕式座位：</label><%= human_seat_for @conventioner.opening_seat %></li>
  </ul>
  <ul>
    <li class="seat"><label>光盘包：</label><span><%= human_boolean_for @conventioner.dvd_required? %></span></li>
  </ul>
  <% if @conventioner.culture_suite_required? %>
  <ul>
    <li class="culture-suite">
      <label>文化用品调查表：</label>
      <% if @conventioner.culture_suite_taken? %>
      已领取，<span>类型<%= @conventioner.culture_suite_type %></span>
      <% elsif !@conventioner.culture_suite_taken_by_colleague.blank? %>
      同孔院<%= link_to @conventioner.culture_suite_taken_by_colleague.human_name, @conventioner.culture_suite_taken_by_colleague %>已领取，<span>类型<%= @conventioner.culture_suite_type %></span>
      <% else %>
      未领取，<span>类型<%= @conventioner.culture_suite_type %></span>
      <% end %>
    </li>
  </ul>
  <% end %>
  <ul>
    <li><label>项目官员：</label><%= @conventioner.person_in_charge %></li>
  </ul>
  <ul>
    <li><label>备注：</label><%= raw @conventioner.remark %></li>
  </ul>
</fieldset>
<%= form_tag register_conventioner_path(@conventioner), :id => 'register_conventioner' do %>
  <fieldset class="form-generic">
    <legend>确认信息</legend>
    <ul>
      <li><label>领取会议材料：</label><%= radio_button :conventioner, :stuff_taken, 1, :checked => true %>领取 <%= radio_button :conventioner, :stuff_taken, 0 %>未领取</li>
    </ul>
    <ul>
      <li><label>是否参加总部咨询会：</label><%= radio_button :conventioner, :attend_consultation, 1 %>参加 <%= radio_button :conventioner, :attend_consultation, 0 %>不参加</li>
    </ul>
    <ul>
      <li><label>是否参加开幕式：</label><%= radio_button :conventioner, :attend_opening, 1 %>参加 <%= radio_button :conventioner, :attend_opening, 0 %>不参加</li>
    </ul>
    <ul>
      <li><label>是否参加优秀案例论坛：</label><%= radio_button :conventioner, :attend_testcase, 1 %>参加 <%= radio_button :conventioner, :attend_testcase, 0 %>不参加</li>
    </ul>
    <ul>
      <li><label>是否参加晚宴：</label><%= radio_button :conventioner, :attend_banquet, 1 %>参加 <%= radio_button :conventioner, :attend_banquet, 0 %>不参加</li>
    </ul>
    <ul>
      <li><label>是否参加校长论坛：</label><%= radio_button :conventioner, :attend_president, 1 %>参加 <%= radio_button :conventioner, :attend_president, 0 %>不参加</li>
    </ul>
    <ul>
      <li><label>是否参加闭幕式：</label><%= radio_button :conventioner, :attend_closing, 1 %>参加 <%= radio_button :conventioner, :attend_closing, 0 %>不参加</li>
    </ul>
    <% if @conventioner.culture_suite_required? and !@conventioner.culture_suite_taken? and @conventioner.culture_suite_taken_by_colleague.blank? %>
    <ul>
      <li class="culture-suite">
        <label>领取文化用品调查表：</label>
        <%= radio_button :conventioner, :culture_suite_taken, 1 %>领取 <%= radio_button :conventioner, :culture_suite_taken, 0 %>不领取</li>
      </li>
    </ul>
    <% end %>
  </fieldset>
  <fieldset class="form-generic">
    <legend>住宿信息</legend>
    <% if @conventioner.occupied? %>
      <ul>
        <li><label>入住酒店及房型：</label><%= human_hotel_and_room_for @conventioner %></li>
      </ul>
      <ul>
        <li><label>房间号：</label><%= text_field :conventioner, :room_number, :class => 'text-field small' %></li>
      </ul>
    <% else %>
      <ul>
        <li><label>住宿状态：</label><span class="cred">不需要住宿</span></li>
      </ul>
    <% end %>
  </fieldset>
  <div class="operation-generic">
    <%= link_to '填写完毕，确认签到', '#', :onclick => "submitForm('register_conventioner')", :class => 'button' %>
    <%= link_to '返回参会代表信息', @conventioner, :class => 'button' %>
  </div>
<% end %>