<h1>“<%= params[:keyword] %>”的搜索结果<span><%= link_to '重新搜索', search_conventioners_path %></span></h1>
<table class="list-generic">
  <tr>
    <th>国籍</th>
    <th>中文名</th>
    <th>外文名</th>
    <th>住宿信息</th>
    <th>签到时间</th>
  </tr>
  <% if @conventioners.blank? %>
    <%= raw empty_record_tag %>
  <% else %>
    <% @conventioners.each_with_index do |conventioner, index| %>
      <tr class="<%= odevity_tag index %>">
        <td><%= conventioner.country.name %></td>
        <td><%= link_to conventioner.chinese_name, conventioner %></td>
        <td><%= link_to conventioner.foreign_name, conventioner %></td>
        <td><%= human_hotel_and_room_for conventioner %></td>
        <td><%= human_register_for conventioner.registered_at %></td>
      </tr>
    <% end %>
  <% end %>
</table>
<%= will_paginate @conventioners %>