<h1>查看参会代表</h1>
<fieldset class="form-generic">
  <legend>基本信息</legend>
  <ul>
    <li><label>中文名：</label><%= @conventioner.chinese_name %></li>
  </ul>
  <ul>
    <li><label>外文名：</label><%= @conventioner.foreign_name %></li>
  </ul>
  <ul>
    <li><label>国籍：</label><%= @conventioner.country.name %></li>
  </ul>
  <ul>
    <li><label>所属孔院：</label><%= @conventioner.confucius_institute %></li>
  </ul>
  <ul>
    <li><label>工作单位：</label><%= @conventioner.work_unit %></li>
  </ul>
  <ul>
    <li><label>所在机构任职：</label><%= @conventioner.position_in_wn %></li>
  </ul>
  <ul>
    <li><label>孔院任职：</label><%= @conventioner.position_in_ci %></li>
  </ul>
  <ul>
    <li><label>电子邮件：</label><%= @conventioner.email %></li>
  </ul>
  <ul>
    <li><label>联系电话：</label><%= @conventioner.phone %></li>
  </ul>
  <ul>
    <li><label>代表类型1：</label><%= human_from_for @conventioner.from %></li>
  </ul>
  <ul>
    <li><label>代表类型2：</label><%= human_nonvoting_for @conventioner.nonvoting? %></li>
  </ul>
  <ul>
    <li><label>代表身份：</label><%= @conventioner.titles.map{|t| t.name}.join '，' %></li>
  </ul>
  <ul>
    <li><label>抵京时间：</label><%= human_date_for @conventioner.arrived_at %></li>
  </ul>
  <ul>
    <li><label>航班号：</label><%= @conventioner.flight_number %></li>
  </ul>
  <ul>
    <li><label>离京时间：</label><%= human_date_for @conventioner.returned_at %></li>
  </ul>
  <ul>
    <li><label>航班号：</label><%= @conventioner.return_flight_number %></li>
  </ul>
  <ul>
    <li class="seat"><label>开幕式座位：</label><%= human_seat_for @conventioner.opening_seat %></li>
  </ul>
  <% if @conventioner.culture_suite_required? %>
  <ul>
    <li class="culture-suite">
      <label>文化用品调查表：</label>
      <% if @conventioner.culture_suite_taken? %>
      已领取，<span>类型<%= @conventioner.culture_suite_type %></span>
      <% elsif !@conventioner.culture_suite_taken_by_colleague.blank? %>
      同孔院<%= link_to @conventioner.culture_suite_taken_by_colleague.human_name, @conventioner.culture_suite_taken_by_colleague %>已领取，<span>类型<%= @conventioner.culture_suite_type %></span>
      <% else %>
      未领取，<span>类型<%= @conventioner.culture_suite_type %></span>
      <% end %>
    </li>
  </ul>
  <% end %>
  <ul>
    <li><label>项目官员：</label><%= @conventioner.person_in_charge %></li>
  </ul>
  <ul>
    <li><label>公自付：</label><%= @conventioner.payment %></li>
  </ul>
  <ul>
    <li><label>备注：</label><%= raw @conventioner.remark %></li>
  </ul>
</fieldset>
<fieldset class="form-generic">
  <legend>签到信息</legend>
  <% if @conventioner.registered? %>
    <ul>
      <li><label>签到时间：</label><%= human_datetime_for @conventioner.registered_at %></li>
    </ul>
    <ul>
      <li><label>操作人：</label><%= @conventioner.registered_by %></li>
    </ul>
    <ul>
      <li><label>领取会议材料：</label><%= human_taken_for @conventioner.stuff_taken %></li>
    </ul>
    <ul>
      <li><label>是否参加总部咨询会：</label><%= human_boolean_for @conventioner.attend_consultation? %></li>
    </ul>
    <ul>
      <li><label>是否参加开幕式：</label><%= human_boolean_for @conventioner.attend_opening? %></li>
    </ul>
    <ul>
      <li><label>是否参加优秀案例论坛：</label><%= human_boolean_for @conventioner.attend_testcase? %></li>
    </ul>
    <ul>
      <li><label>是否参加晚宴：</label><%= human_boolean_for @conventioner.attend_banquet? %></li>
    </ul>
    <ul>
      <li><label>是否参加校长论坛：</label><%= human_boolean_for @conventioner.attend_president? %></li>
    </ul>
    <ul>
      <li><label>是否参加闭幕式：</label><%= human_boolean_for @conventioner.attend_closing? %></li>
    </ul>
  <% else %>
    <ul>
      <li><label>签到状态：</label><span class="cred">未签到</span></li>
    </ul>
  <% end %>
</fieldset>
<fieldset class="form-generic">
  <legend>住宿信息</legend>
  <% if @conventioner.occupied? %>
    <ul>
      <li><label>入住酒店及房型：</label><%= human_hotel_and_room_for @conventioner %></li>
    </ul>
    <ul>
      <li><label>房间号：</label><%= @conventioner.room_number %></li>
    </ul>
    <ul>
      <li><label>是否吸烟：</label><%= @conventioner.smoking.nil? ? '无要求' : human_boolean_for(@conventioner.smoking?)  %></li>
    </ul>
    <ul>
      <li><label>特殊要求：</label><%= @conventioner.room_requirement %></li>
    </ul>
  <% elsif @conventioner.chummage? %>
    <ul>
      <li><label>入住酒店：</label><%= @conventioner.hotel.name %>（与他人合住）</li>
    </ul>
  <% else %>
    <ul>
      <li><label>住宿状态：</label><span class="cred">不需要住宿</span></li>
    </ul>
    <ul>
      <li><label>报到酒店：</label><span class="cred"><%= @conventioner.plain_check_in_at %></span></li>
    </ul>
  <% end %>
</fieldset>
<div class="operation-generic">
  <% permissable_for [User::ROLE_EMPLOYEE, User::ROLE_VOLUNTEER] do %><%= link_to '现在进行签到', register_conventioner_path(@conventioner), :class => 'button' unless @conventioner.registered? %><% end %>
  <% permissable_for [User::ROLE_EMPLOYEE] do %><%= link_to '编辑', edit_conventioner_path(@conventioner), :class => 'button' %><% end %>
  <% permissable_for [User::ROLE_ADMIN] do %><%= link_to '删除', @conventioner, :method => :delete, :confirm => '确定删除该记录？', :class => 'button' %><% end %>
  <%= link_to '返回参会代表列表', conventioners_path, :class => 'button' %>
</div>