<h1>“<%= params[:keyword] %>”的搜索结果<span><%= link_to '重新搜索', search_confucius_institutes_path %></span></h1>
<table class="list-generic">
  <tr>
    <th>洲</th>
    <th>国家</th>
    <th>规模</th>
    <th>名称</th>
    <th>参会代表信息</th>
  </tr>
  <% if @confucius_institutes.blank? %>
    <%= raw empty_record_tag %>
  <% else %>
    <% @confucius_institutes.each_with_index do |confucius_institute, index| %>
      <tr class="<%= odevity_tag index %>">
        <td><%= confucius_institute.country.continent.name %></td>
        <td><%= confucius_institute.country.name %></td>
        <td><%= human_scale_for confucius_institute.scale %></td>
        <td><%= link_to confucius_institute.name, confucius_institute %></td>
        <td>共<%= confucius_institute.conventioners.size %>人</td>
      </tr>
    <% end %>
  <% end %>
</table>
<%= will_paginate @confucius_institutes %>