<h1>资料汇编统计</h1>
<fieldset class="form-generic">
  <legend>综合统计</legend>
  <ul>
    <li><label>领取代表总数：</label>共<%= link_to @conventioners.size, collection_required_conventioners_path, :target => '_blank' %>人</li>
  </ul>
  <ul>
    <li><label>签到统计：</label>已签到<%= link_to @conventioners.registered.size, collection_required_conventioners_path(:registered => true), :target => '_blank' %>人，未签到<%= link_to @conventioners.unregistered.size, collection_required_conventioners_path(:unregistered => true), :target => '_blank' %>人</li>
  </ul>
  <ul>
    <li><label>领取统计：</label>已领取<%= link_to @conventioners.collection_taken.size, collection_required_conventioners_path(:taken => true), :target => '_blank' %>人，未领取<%= link_to @conventioners.collection_untaken.size, collection_required_conventioners_path(:untaken => true), :target => '_blank' %>人</li>
  </ul>
</fieldset>
<fieldset class="form-generic">
  <legend>酒店统计</legend>
  <% @hotels.each do |hotel| %>
    <ul>
      <li><label><%= hotel.name %>：</label>共<%= link_to hotel.conventioners.collection_required.size, collection_required_conventioners_hotel_path(hotel), :target => '_blank' %>人，已领取<%= link_to hotel.conventioners.collection_required.collection_taken.size, collection_required_conventioners_hotel_path(hotel, :taken => true), :target => '_blank' %>人，未领取<%= link_to hotel.conventioners.collection_required.collection_untaken.size, collection_required_conventioners_hotel_path(hotel, :untaken => true), :target => '_blank' %>人</li>
    </ul>
  <% end %>
</fieldset>