<h1>综合统计</h1>
<fieldset class="form-generic">
  <legend>签到统计</legend>
  <ul>
    <li><label>参会代表总人数：</label><%= link_to @total_conventioners_count, conventioners_path, :target => '_blank' %></li>
  </ul>
  <ul>
    <li><label>已签到参会代表人数：</label><%= link_to @registered_conventioners_count, registered_conventioners_path, :target => '_blank' %></li>
  </ul>
  <ul>
    <li><label>未签到参会代表人数：</label><%= link_to @unregistered_conventioners_count, unregistered_conventioners_path, :target => '_blank' %></li>
  </ul>
</fieldset>
<fieldset class="form-generic">
  <legend>代表类型统计</legend>
  <ul>
    <li><label>代表类型1：</label>国内代表<%= link_to @domestic_conventioners_count, conventioners_path, :target => '_blank' %>人，国外代表<%= link_to @foreign_conventioners_count, conventioners_path, :target => '_blank' %>人，使领馆代表<%= link_to @consulate_conventioners_count, conventioners_path, :target => '_blank' %>人</li>
  </ul>
  <ul>
    <li><label>代表类型2：</label>普通代表<%= link_to @voting_conventioners_count, conventioners_path, :target => '_blank' %>人，列席代表<%= link_to @nonvoting_conventioners_count, conventioners_path, :target => '_blank' %>人</li>
  </ul>
</fieldset>
<fieldset class="form-generic">
  <legend>出席活动统计</legend>
  <ul>
    <li><label>开幕式：</label>参加<%= @attend_opening_conventioners_count %>人，不参加<%= @unattend_opening_conventioners_count %>人，不确定参加<%= @unsure_attend_opening_conventioners_count %>人</li>
  </ul>
  <ul>
    <li><label>演出：</label>参加<%= @attend_show_conventioners_count %>人，不参加<%= @unattend_show_conventioners_count %>人，不确定参加<%= @unsure_attend_show_conventioners_count %>人</li>
  </ul>
  <ul>
    <li><label>说明会：</label>参加<%= @attend_explanation_conventioners_count %>人，不参加<%= @unattend_explanation_conventioners_count %>人，不确定参加<%= @unsure_attend_explanation_conventioners_count %>人</li>
  </ul>
  <ul>
    <li><label>晚宴：</label>参加<%= @attend_banquet_conventioners_count %>人，不参加<%= @unattend_banquet_conventioners_count %>人，不确定参加<%= @unsure_attend_banquet_conventioners_count %>人</li>
  </ul>
  <ul>
    <li><label>闭幕式：</label>参加<%= @attend_closing_conventioners_count %>人，不参加<%= @unattend_closing_conventioners_count %>人，不确定参加<%= @unsure_attend_closing_conventioners_count %>人</li>
  </ul>
</fieldset>