<h1>综合统计</h1>
<fieldset class="form-generic">
  <legend>签到统计</legend>
  <ul>
    <li><label>参会代表总人数：</label><%= link_to @total_conventioners_count, conventioners_path, :target => '_blank' %></li>
  </ul>
  <ul>
    <li><label>已签到参会代表人数：</label><%= link_to @registered_conventioners_count, registered_conventioners_path, :target => '_blank' %></li>
  </ul>
  <ul>
    <li><label>未签到参会代表人数：</label><%= link_to @unregistered_conventioners_count, unregistered_conventioners_path, :target => '_blank' %></li>
  </ul>
</fieldset>
<fieldset class="form-generic">
  <legend>代表类型统计</legend>
  <ul>
    <li><label>代表类型1：</label>国内代表<%= link_to @domestic_conventioners_count, conventioners_path, :target => '_blank' %>人，国外代表<%= link_to @foreign_conventioners_count, conventioners_path, :target => '_blank' %>人，使领馆代表<%= link_to @consulate_conventioners_count, conventioners_path, :target => '_blank' %>人</li>
  </ul>
  <ul>
    <li><label>代表类型2：</label>大会代表<%= link_to @voting_conventioners_count, conventioners_path, :target => '_blank' %>人，列席代表<%= link_to @nonvoting_conventioners_count, conventioners_path, :target => '_blank' %>人</li>
  </ul>
</fieldset>
<fieldset class="form-generic">
  <legend>出席活动统计</legend>
  <ul>
    <li><label>开幕式：</label>参加<%= @attend_opening_conventioners_count %>人，不参加<%= @unattend_opening_conventioners_count %>人，不确定参加<%= @unsure_attend_opening_conventioners_count %>人</li>
  </ul>
  <ul>
    <li><label>演出：</label>参加<%= @attend_show_conventioners_count %>人，不参加<%= @unattend_show_conventioners_count %>人，不确定参加<%= @unsure_attend_show_conventioners_count %>人</li>
  </ul>
  <ul>
    <li><label>说明会：</label>参加<%= @attend_explanation_conventioners_count %>人，不参加<%= @unattend_explanation_conventioners_count %>人，不确定参加<%= @unsure_attend_explanation_conventioners_count %>人</li>
  </ul>
  <ul>
    <li><label>晚宴：</label>参加<%= @attend_banquet_conventioners_count %>人，不参加<%= @unattend_banquet_conventioners_count %>人，不确定参加<%= @unsure_attend_banquet_conventioners_count %>人</li>
  </ul>
  <ul>
    <li><label>闭幕式：</label>参加<%= @attend_closing_conventioners_count %>人，不参加<%= @unattend_closing_conventioners_count %>人，不确定参加<%= @unsure_attend_closing_conventioners_count %>人</li>
  </ul>
</fieldset>
<fieldset class="form-generic">
  <legend>开幕式座位区域统计</legend>
  <ul>
    <li><label>VIP区域：</label>共<%= link_to @opening_vip_class_conventioners_count, opening_seats_conventioners_path(:seat_class => 'VIP') %>人，已签到<%= link_to @opening_vip_class_registered_conventioners_count, opening_seats_conventioners_path(:seat_class => 'VIP', :registered => true) %>人，未签到<%= link_to @opening_vip_class_unregistered_conventioners_count, opening_seats_conventioners_path(:seat_class => 'VIP', :unregistered => true) %>人</li>
    <li><label>A区域：</label>共<%= link_to @opening_a_class_conventioners_count, opening_seats_conventioners_path(:seat_class => 'A') %>人，已签到<%= link_to @opening_a_class_registered_conventioners_count, opening_seats_conventioners_path(:seat_class => 'A', :registered => true) %>人，未签到<%= link_to @opening_a_class_unregistered_conventioners_count, opening_seats_conventioners_path(:seat_class => 'A', :unregistered => true) %>人</li>
    <li><label>B区域：</label>共<%= link_to @opening_b_class_conventioners_count, opening_seats_conventioners_path(:seat_class => 'B') %>人，已签到<%= link_to @opening_b_class_registered_conventioners_count, opening_seats_conventioners_path(:seat_class => 'B', :registered => true) %>人，未签到<%= link_to @opening_b_class_unregistered_conventioners_count, opening_seats_conventioners_path(:seat_class => 'B', :unregistered => true) %>人</li>
    <li><label>C区域：</label>共<%= link_to @opening_c_class_conventioners_count, opening_seats_conventioners_path(:seat_class => 'C') %>人，已签到<%= link_to @opening_c_class_registered_conventioners_count, opening_seats_conventioners_path(:seat_class => 'C', :registered => true) %>人，未签到<%= link_to @opening_c_class_unregistered_conventioners_count, opening_seats_conventioners_path(:seat_class => 'C', :unregistered => true) %>人</li>
    <li><label>D区域：</label>共<%= link_to @opening_d_class_conventioners_count, opening_seats_conventioners_path(:seat_class => 'D') %>人，已签到<%= link_to @opening_d_class_registered_conventioners_count, opening_seats_conventioners_path(:seat_class => 'D', :registered => true) %>人，未签到<%= link_to @opening_d_class_unregistered_conventioners_count, opening_seats_conventioners_path(:seat_class => 'D', :unregistered => true) %>人</li>
    <li><label>E区域：</label>共<%= link_to @opening_e_class_conventioners_count, opening_seats_conventioners_path(:seat_class => 'E') %>人，已签到<%= link_to @opening_e_class_registered_conventioners_count, opening_seats_conventioners_path(:seat_class => 'E', :registered => true) %>人，未签到<%= link_to @opening_e_class_unregistered_conventioners_count, opening_seats_conventioners_path(:seat_class => 'E', :unregistered => true) %>人</li>
  </ul>
</fieldset>