<h1>调查信息列表</h1>
<table class="list-generic">
  <tr>
    <th>姓名</th>
    <th>电话</th>
    <th>工作单位</th>
    <th>填写时间</th>
  </tr>
  <% if @questionnaires.blank? %>
    <%= raw empty_record_tag %>
  <% else %>
    <% @questionnaires.each_with_index do |questionnaire, index| %>
      <tr class="<%= odevity_tag index %>">
        <td><%= link_to questionnaire.name, questionnaire %></td>
        <td><%= questionnaire.mobile %></td>
        <td><%= questionnaire.organization %></td>
        <td><%= human_datetime_for questionnaire.created_at %></td>
      </tr>
    <% end %>
  <% end %>
</table>
<%= will_paginate @questionnaires %>