<%= form_for @questionnaire do |f| %>
  <%= render "shared/error_messages", :target => @questionnaire %>
  <fieldset class="form-generic">
    <ul>
      <li><label>姓名：</label><%= f.text_field :name, :class => 'text-field' %> <span>(必填)</span></li>
    </ul>
    <ul>
      <li><label>手机：</label><%= f.text_field :mobile, :class => 'text-field' %> <span>(必填)</span></li>
    </ul>
    <ul>
      <li><label>座机：</label><%= f.text_field :phone, :class => 'text-field' %></li>
    </ul>
    <ul>
      <li><label>Email：</label><%= f.text_field :email, :class => 'text-field' %></li>
    </ul>
    <ul>
      <li><label>QQ号：</label><%= f.text_field :qq, :class => 'text-field' %></li>
    </ul>
    <ul>
      <li><label>微博地址：</label><%= f.text_field :weibo, :class => 'text-field' %></li>
    </ul>
    <ul>
      <li><label>微信号：</label><%= f.text_field :weixin, :class => 'text-field' %></li>
    </ul>
    <ul>
      <li><label>常住城市：</label><%= f.text_field :city, :class => 'text-field' %> <span>(必填)</span></li>
    </ul>
    <ul>
      <li><label>常住地址：</label><%= f.text_field :address, :class => 'text-field' %></li>
    </ul>
    <ul>
      <li><label>工作单位：</label><%= f.text_field :organization, :class => 'text-field' %> <span>(必填)</span></li>
    </ul>
    <ul>
      <li><label>职位名称：</label><%= f.text_field :title, :class => 'text-field' %></li>
    </ul>
    <ul>
      <li><label>是否携配偶参加：</label><%= f.radio_button :with_spouse, true %> 是 <%= f.radio_button :with_spouse, false, :checked => true %> 否</li>
    </ul>
    <ul>
      <li><label>是否携子女参加：</label><%= f.radio_button :with_child, true, :onclick => 'toggleChildAmount(true)' %> 是 <%= f.radio_button :with_child, false, :checked => true, :onclick => 'toggleChildAmount(false)' %> 否</li>
    </ul>
    <ul id="child-amount" class="dn">
      <li><label>携子女人数：</label><%= f.text_field :child_amount, :class => 'text-field' %></li>
    </ul>
    <ul>
      <li><label>可参与时间：</label><%= f.text_area :will_participate_at, :class => 'text-area' %> <span>(必填)</span></li>
    </ul>
    <ul>
      <li><label>您对聚会的各种想法：</label><%= f.text_area :suggestion, :class => 'text-area' %></li>
    </ul>
    <div class="operation-generic">
      <%= link_to '填写完成，我要提交', '#', :onclick => "submitForm('new_questionnaire')", :class => 'button' %>
    </div>
  </fieldset>
<% end %>