<h1>查看酒店</h1>
<fieldset class="form-generic">
  <legend>基本信息</legend>
  <ul>
    <li><label>名称：</label><%= @hotel.name %></li>
  </ul>
</fieldset>
<fieldset class="form-generic">
  <legend>房型信息<span><% permissable_for [User::ROLE_EMPLOYEE] do %>[<%= link_to '添加房型', new_hotel_room_path(@hotel) %>]</span><% end %></legend>
  <% @hotel.rooms.each do |room| %>
    <ul>
      <li><label><%= room.name %>：</label>共<%= room.amount %>间，已预订<%= room.booked_amount %>间，已入住<%= room.occupied_amount %>间 [<%= link_to '入住代表名单', [@hotel, room] %><% permissable_for [User::ROLE_EMPLOYEE] do %>|<%= link_to '编辑', edit_hotel_room_path(@hotel, room)%>|<%= link_to '删除', [@hotel, room], :method => :delete, :confirm => '确定要删除吗？' %><% end %>]</li>
    </ul>
  <% end %>
</fieldset>
<div class="operation-generic">
  <% permissable_for [User::ROLE_EMPLOYEE] do %><%= link_to '编辑', edit_hotel_path(@hotel), :class => 'button' %><% end %>
  <% permissable_for [User::ROLE_EMPLOYEE] do %><%= link_to '删除', @hotel, :method => :delete, :confirm => '确定删除该记录？', :class => 'button' %><% end %>
  <%= link_to '返回酒店列表', hotels_path, :class => 'button' %>
</div>